<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Passweird - Passwords too Gross to Steal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="Description" content="This website will create for you a secure password so utterly repulsive that not even the most hardened criminal, identity thief, NSA agent, or jealous boyfriend would ever want to use it." />
    <meta name="Keywords" content="password, generator, secure, security, weird, strange, gross, hamburger face, pickle eyes, human, shapes" />

    <meta property="og:site_name" content="Passweird"/>
    <meta property="og:image" content="http://www.passweird.com/fb.png"/>

    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="/styles.css">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-26766129-6', 'auto');
      ga('send', 'pageview');

    </script>
  </head>
  <body>
    <div class="wrapper">
      <h1>Passweird</h1>
      <div class="wrap">
        <div class="js-placeholder">
          <p class="welcome desktop-only">
            <em>Welcome,</em>
            This website will create for you passwords that are not only secure*, but also <strong>so utterly repulsive</strong> that not even the most hardened criminal, identity thief, NSA agent, or jealous boyfriend would ever want to use them.
          </p>
          <p class="welcome mobile-only">
            Create secure* passwords so repulsive not even the most hardened criminal, NSA agent, or jealous bf would want to use them.
          </p>
        </div>
        <a href="#" title="Generate Passweird" id="js-generate" class="btn">Generate Passweird</a>
        <p class="asterisk">*ish, but probably not. Don't use these for real.</p>
      </div>
      <p class="credits">Created by weird humans
        <br />
        <a href="http://humanshapes.co" title="View Cody's Website">Cody&nbsp;Peterson</a> &amp; <a href="http://plaidmtn.com" title="View Matt's Work">Matt&nbsp;Carlson</a>
        <br />
      </p>
      <a href="https://twitter.com/codypeterson" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow CodyPeterson</a>

      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>

    <div id="hallucination"><div id="spinner"></div><div id="cat"></div></div>

    <script src="/compiled.min.js"></script>
  </body>
</html>
