/*! normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Miscellaneous style fixes/hacks for browser inconsistencies or issues that could potentially be resolved at some point in the future.
   Check relevance on occasion to keep up to date. */
/* Stops ios from changing your font sizes.
   Fixes issue with certain fonts rendering "fat" http://www.lighterra.com/articles/macosxtextaabug/ */
body {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased; }

.clear {
  clear: both; }

/* No dotted outline when you click links */
a:active {
  outline: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  -ms-interpolation-mode: bicubic;
  display: block; }

svg:not(:root) {
  overflow: hidden; }

/* Site specific mixins, colors, and fonts.
   Core element styles.
   Vendor files. (Plugins, custom widgets, etc.) */
/* #Colors
===================== */
/* #Mixins
===================== */
@-webkit-keyframes hypnotize {
  from {
    opacity: 1;
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg); }
  to {
    opacity: 1;
    -webkit-transform: rotate(2160deg);
    -moz-transform: rotate(2160deg);
    -ms-transform: rotate(2160deg);
    -o-transform: rotate(2160deg);
    transform: rotate(2160deg); } }
@-moz-keyframes hypnotize {
  from {
    opacity: 1;
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg); }
  to {
    opacity: 1;
    -webkit-transform: rotate(2160deg);
    -moz-transform: rotate(2160deg);
    -ms-transform: rotate(2160deg);
    -o-transform: rotate(2160deg);
    transform: rotate(2160deg); } }
@-o-keyframes hypnotize {
  from {
    opacity: 1;
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg); }
  to {
    opacity: 1;
    -webkit-transform: rotate(2160deg);
    -moz-transform: rotate(2160deg);
    -ms-transform: rotate(2160deg);
    -o-transform: rotate(2160deg);
    transform: rotate(2160deg); } }
@keyframes hypnotize {
  from {
    opacity: 1;
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg); }
  to {
    opacity: 1;
    -webkit-transform: rotate(2160deg);
    -moz-transform: rotate(2160deg);
    -ms-transform: rotate(2160deg);
    -o-transform: rotate(2160deg);
    transform: rotate(2160deg); } }
@-webkit-keyframes pulseBG {
  0% {
    background-color: rgba(8, 248, 22, 0.9); }
  50% {
    background-color: rgba(8, 248, 22, 0.8); }
  100% {
    background-color: rgba(8, 248, 22, 0.9); } }
@-moz-keyframes pulseBG {
  0% {
    background-color: rgba(8, 248, 22, 0.9); }
  50% {
    background-color: rgba(8, 248, 22, 0.8); }
  100% {
    background-color: rgba(8, 248, 22, 0.9); } }
@-o-keyframes pulseBG {
  0% {
    background-color: rgba(8, 248, 22, 0.9); }
  50% {
    background-color: rgba(8, 248, 22, 0.8); }
  100% {
    background-color: rgba(8, 248, 22, 0.9); } }
@keyframes pulseBG {
  0% {
    background-color: rgba(8, 248, 22, 0.9); }
  50% {
    background-color: rgba(8, 248, 22, 0.8); }
  100% {
    background-color: rgba(8, 248, 22, 0.9); } }
@-webkit-keyframes pulse {
  0% {
    color: #0a0a09; }
  50% {
    color: #720d3d; }
  100% {
    color: #0a0a09; } }
@-moz-keyframes pulse {
  0% {
    color: #0a0a09; }
  50% {
    color: #720d3d; }
  100% {
    color: #0a0a09; } }
@-o-keyframes pulse {
  0% {
    color: #0a0a09; }
  50% {
    color: #720d3d; }
  100% {
    color: #0a0a09; } }
@keyframes pulse {
  0% {
    color: #0a0a09; }
  50% {
    color: #720d3d; }
  100% {
    color: #0a0a09; } }
/* #Fonts
===================== */
.font-sans, h1, h2, h3, h4 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal; }

.font-serif, #passweird, .welcome, .asterisk {
  font-family: courier, monospace, sans-serif; }

/* #Typography
===================== */
h1 {
  font-size: 1.875em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1em; }

.section-headline {
  text-align: center;
  text-transform: uppercase; }

a {
  color: #0a0a09;
  text-decoration: none; }

strong, b {
  font-weight: 600; }

/* #Structure
===================== */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

::-moz-selection {
  background: #0a0a09;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #0a0a09;
  color: #fff;
  text-shadow: none; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visually-hidden.focusable:active, .visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

figcaption {
  background: #f4f4f4;
  font-size: 0.8125em;
  padding: 14px;
  margin: 0; }

blockquote {
  margin: 2.125em 0;
  padding: 0 120px 0 25px;
  border-left: 5px solid #DCDCDC;
  font-size: 1.625em;
  line-height: 1.3;
  color: #000000; }
  blockquote p {
    margin: 0; }

/* #Structure
===================== */
body {
  background: url("/images/bg.jpg") top center;
  margin: 0; }
  @media screen and (max-width: 579px) {
    body {
      background-size: 540px; } }

.wrapper {
  max-width: 560px;
  margin: 0 auto 40px;
  padding: 0 10px; }

h1 {
  background: url("/images/logo.png") center no-repeat;
  background-size: 100%;
  height: 0;
  padding-bottom: 65%;
  margin: -12% 0 0;
  text-indent: -9999px; }

#passweird {
  font-size: 1.8em;
  line-height: 1em;
  padding: 30px 0 40px;
  text-align: center;
  font-weight: 300;
  -webkit-animation: pulse 1.5s ease-in-out 10;
  -moz-animation: pulse 1.5s ease-in-out 10;
  animation: pulse 1.5s ease-in-out 10;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out; }
  #passweird.is-visible {
    opacity: 1; }

.credits {
  background: #0a0a09;
  padding: 10px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.3em;
  border-radius: 10px;
  font-size: 0.7em;
  text-transform: uppercase; }
  .credits a {
    color: #ffffff;
    font-weight: bold; }

.welcome, .asterisk {
  line-height: 1.4em;
  margin-top: 0; }
  .welcome em, .asterisk em {
    font-size: 1.2em;
    letter-spacing: 0.1em;
    display: block;
    margin: 0 0 5px; }
  @media screen and (max-width: 579px) {
    .welcome, .asterisk {
      font-size: 0.95em;
      line-height: 1.2em; } }

.desktop-only {
  margin-bottom: 25px; }
  @media screen and (min-width: 580px) {
    .desktop-only {
      display: block; } }
  @media screen and (max-width: 579px) {
    .desktop-only {
      display: none; } }

@media screen and (min-width: 580px) {
  .mobile-only {
    display: none; } }
@media screen and (max-width: 579px) {
  .mobile-only {
    display: block; } }

.asterisk {
  font-weight: bold;
  margin: 10px 0 0; }

div.wrap {
  background: url("/images/bg.gif") top center;
  background-size: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12% 20px 20px;
  margin: -8.5% auto 0;
  border-radius: 10px; }

#hallucination {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: rgba(8, 248, 22, 0.9);
  pointer-events: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  #hallucination.is-visible {
    opacity: 1;
    -webkit-animation: pulseBG 3s ease-in-out 10;
    -moz-animation: pulseBG 3s ease-in-out 10;
    animation: pulseBG 3s ease-in-out 10; }

#spinner {
  background: url("/images/spinner.gif") center no-repeat;
  width: 515px;
  height: 515px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -258px;
  margin-left: -258px;
  opacity: 0; }
  @media screen and (max-width: 515px) {
    #spinner {
      width: 90%;
      height: 90%;
      margin-top: 0;
      margin-left: 0;
      top: 0;
      left: 5%;
      background-size: 100%; } }
  #hallucination.is-visible #spinner {
    -webkit-animation: hypnotize 10s linear;
    -moz-animation: hypnotize 10s linear;
    animation: hypnotize 10s linear; }

#cat {
  background: url("/images/cat.gif") center no-repeat;
  width: 238px;
  height: 238px;
  display: block;
  position: absolute;
  bottom: -20px;
  left: -20px;
  opacity: 0.9;
  -webkit-transform: translateY(300px) translateX(-600px);
  -moz-transform: translateY(300px) translateX(-600px);
  -ms-transform: translateY(300px) translateX(-600px);
  -o-transform: translateY(300px) translateX(-600px);
  transform: translateY(300px) translateX(-600px);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  #hallucination.is-visible #cat {
    -webkit-transform: translateY(0) translateX(0);
    -moz-transform: translateY(0) translateX(0);
    -ms-transform: translateY(0) translateX(0);
    -o-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0); }
  @media screen and (max-width: 515px) {
    #cat {
      width: 160px;
      height: 160px;
      bottom: -10px;
      left: -10px;
      background-size: 100%; } }

/* #Buttons
===================== */
.btn {
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
  border-radius: 8px;
  background: url("/images/bg-green.gif") center;
  color: #0a0a09;
  padding: 30px 6px 35px;
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.15em;
  display: block;
  position: relative; }
  .btn:hover {
    background-color: rgba(8, 248, 22, 0.9); }
  .btn:after {
    content: "";
    position: absolute;
    left: -5px;
    top: -5px;
    width: 100%;
    height: 100%;
    border: 3px solid #0a0a09;
    border-radius: 10px; }
  .btn span {
    position: relative;
    -webkit-transition: top 0.1s ease-in-out;
    -moz-transition: top 0.1s ease-in-out;
    transition: top 0.1s ease-in-out; }
  @media screen and (max-width: 579px) {
    .btn {
      padding: 15px 6px 18px; } }
  .btn .char1 {
    top: -0.1em; }
  .btn .char2 {
    top: 0.05em; }
  .btn .char3 {
    top: -0.07em; }
  .btn .char4 {
    top: -0.1em; }
  .btn .char5 {
    top: 0.03em; }
  .btn .char6 {
    top: -0.04em; }
  .btn .char7 {
    top: 0.1em; }
  .btn .char8 {
    top: 0.06em; }
  .btn .char9 {
    top: -0.09em; }
  .btn .char10 {
    top: 0.03em; }
  .btn .char11 {
    top: 0.06em; }
  .btn .char12 {
    top: 0.04em; }
  .btn .char13 {
    top: -0.08em; }
  .btn .char14 {
    top: -0.1em; }
  .btn .char15 {
    top: 0.1em; }
  .btn .char16 {
    top: -0.06em; }
  .btn .char17 {
    top: 0.1em; }
  .btn .char18 {
    top: 0.09em; }
  .btn:hover .char1 {
    top: -0.01em; }
  .btn:hover .char2 {
    top: 0.005em; }
  .btn:hover .char3 {
    top: -0.007em; }
  .btn:hover .char4 {
    top: -0.01em; }
  .btn:hover .char5 {
    top: 0.003em; }
  .btn:hover .char6 {
    top: -0.004em; }
  .btn:hover .char7 {
    top: 0.01em; }
  .btn:hover .char8 {
    top: 0.006em; }
  .btn:hover .char9 {
    top: -0.009em; }
  .btn:hover .char10 {
    top: 0.003em; }
  .btn:hover .char11 {
    top: 0.006em; }
  .btn:hover .char12 {
    top: 0.004em; }
  .btn:hover .char13 {
    top: -0.008em; }
  .btn:hover .char14 {
    top: -0.01em; }
  .btn:hover .char15 {
    top: 0.01em; }
  .btn:hover .char16 {
    top: -0.006em; }
  .btn:hover .char17 {
    top: 0.01em; }
  .btn:hover .char18 {
    top: 0.009em; }
