/* Site specific mixins, colors, and fonts.
   Core element styles.
   Vendor files. (Plugins, custom widgets, etc.) */

/* #Colors
===================== */

$primary: #0a0a09;
$secondary: #08f816;

$white: #ffffff;
$black: #000000;
$grey1: #f4f4f4; // light background
$grey2: #DCDCDC; // borders
$grey3: #afafaf; // section headlines
$grey4: #999999; // article intros
$grey5: #636363; // ex) author bios
$grey6: #555555; // ex) news article byline greys
$grey7: #484848; // ex) footer background
$grey8: #333333; // ex) body copy


/* #Mixins
===================== */

@mixin primary-to-secondary {
  & {
    color: $primary;
    @include transition(color 0.2s ease-in-out);
  }
  &:hover {
    color: $secondary;
  }
}

@include keyframes(hypnotize) {
  from {
    opacity: 1;
    @include transform(rotate(50deg));
  }
  to {
    opacity: 1;
    @include transform(rotate(2160deg));
  }
}

@include keyframes(pulseBG) {
  0% {
    background-color: rgba($secondary, 0.9);
  }
  50% {
    background-color: rgba($secondary, 0.8);
  }
  100% {
    background-color: rgba($secondary, 0.9);
  }
}

@include keyframes(pulse) {
  0% {
    color: $primary;
  }
  50% {
    color: darken(#E83088, 30%);
  }
  100% {
    color: $primary;
  }
}

/* #Fonts
===================== */

// $font-sans: "proxima-nova", sans-serif;
// $font-display: "kulturista-web", Georgia, serif;

.font-sans{
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  // .wf-loading & { visibility: hidden; }
  // .wf-active & { visibility: visible; }
}

.font-serif {
  font-family: courier, monospace, sans-serif;
}

/* #Typography
===================== */

h1, h2, h3, h4{
  @extend .font-sans;
}
h1{ font-size: em(30); }
h2{ font-size: em(24); }
h3{ font-size: em(16); }
.section-headline{
  text-align: center;
  text-transform: uppercase;
}

a{
  color: $primary;
  text-decoration: none;
}

strong, b{
  font-weight: 600;
}


/* #Structure
===================== */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
::-moz-selection { background: $primary; color: #fff; text-shadow: none; }
::selection { background: $primary; color: #fff; text-shadow: none; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visually-hidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visually-hidden.focusable:active, .visually-hidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

figcaption{
  background: $grey1;
  font-size: em(13);
  padding: 14px;
  margin: 0;
}
blockquote{
  margin: em(34) 0;
  padding: 0 120px 0 25px;
  border-left: 5px solid $grey2;
  font-size: em(26);
  line-height: 1.3;
  color: $black;
  p{
    margin: 0;
  }
}
