@import "vendor/bourbon/bourbon";
@import "normalize";
@import "fixes";
@import "base";

/* #Structure
===================== */

body {
  background: url('/images/bg.jpg') top center;
  margin: 0;
  @media screen and (max-width: 579px) {
    background-size: 540px;
  }
}

.wrapper {
  max-width: 560px;
  margin: 0 auto 40px;
  padding: 0 10px;
}

h1 {
  background: url('/images/logo.png') center no-repeat;
  background-size: 100%;
  height: 0;
  padding-bottom: 65%;
  margin: -12% 0 0;
  text-indent: -9999px;
}

#passweird {
  font-size: 1.8em;
  line-height: 1em;
  padding: 30px 0 40px;
  text-align: center;
  @extend .font-serif;
  font-weight: 300;
  @include animation(pulse 1.5s ease-in-out 10);
  opacity: 0;
  @include transition(opacity 0.2s ease-in-out);
  &.is-visible {
    opacity: 1;
  }
}

.credits {
  background: $primary;
  padding: 10px;
  color: $white;
  text-align: center;
  letter-spacing: 0.3em;
  border-radius: 10px;
  font-size: 0.7em;
  text-transform: uppercase;
  a {
    color: $white;
    font-weight: bold;
  }
}

.welcome, .asterisk {
  @extend .font-serif;
  line-height: 1.4em;
  margin-top: 0;
  em {
    font-size: 1.2em;
    letter-spacing: 0.1em;
    display: block;
    margin: 0 0 5px;
  }
  @media screen and (max-width: 579px) {
    font-size: 0.95em;
    line-height: 1.2em;
  }
}

.desktop-only {
  margin-bottom: 25px;
  @media screen and (min-width: 580px) {
    display: block;
  }
  @media screen and (max-width: 579px) {
    display: none;
  }
}

.mobile-only {
  @media screen and (min-width: 580px) {
    display: none;
  }
  @media screen and (max-width: 579px) {
    display: block;
  }
}

.asterisk {
  font-weight: bold;
  margin: 10px 0 0;
}

div.wrap {
  background: url('/images/bg.gif') top center;
  background-size: 100%;
  @include box-sizing(border-box);
  padding: 12% 20px 20px;
  margin: -8.5% auto 0;
  border-radius: 10px;
}

#hallucination {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: rgba($secondary, 0.9);
  pointer-events: none;
  @include transition(all 0.2s ease-in-out);
  &.is-visible {
    opacity: 1;
    @include animation(pulseBG 3s ease-in-out 10);
  }
}

#spinner {
  background: url('/images/spinner.gif') center no-repeat;
  width: 515px;
  height: 515px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -258px;
  margin-left: -258px;
  opacity: 0;
  @media screen and (max-width: 515px) {
    width: 90%;
    height: 90%;
    margin-top: 0;
    margin-left: 0;
    top: 0;
    left: 5%;
    background-size: 100%;
  }
  #hallucination.is-visible & {
    @include animation(hypnotize 10s linear);
  }
}

#cat {
  background: url('/images/cat.gif') center no-repeat;
  width: 238px;
  height: 238px;
  display: block;
  position: absolute;
  bottom: -20px;
  left: -20px;
  opacity: 0.9;
  @include transform(translateY(300px) translateX(-600px));
  @include transition(all 0.3s ease-in-out);
  #hallucination.is-visible & {
    @include transform(translateY(0) translateX(0));
  }
  @media screen and (max-width: 515px) {
    width: 160px;
    height: 160px;
    bottom: -10px;
    left: -10px;
    background-size: 100%;
  }
}

/* #Buttons
===================== */

.btn {
  @include transition(background-color 0.3s);
  border-radius: 8px;
  background: url('/images/bg-green.gif') center;
  color: $primary;
  padding: 30px 6px 35px;
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.15em;
  display: block;
  position: relative;
  &:hover{
    background-color: rgba($secondary, 0.9);
  }
  &:after {
    content: "";
    position: absolute;
    left: -5px;
    top: -5px;
    width: 100%;
    height: 100%;
    border: 3px solid $primary;
    border-radius: 10px;
  }
  span {
    position: relative;
    @include transition(top 0.1s ease-in-out);
  }
  @media screen and (max-width: 579px) {
    padding: 15px 6px 18px;
  }
  .char1  { top: -0.1em;  }
  .char2  { top: 0.05em;  }
  .char3  { top: -0.07em; }
  .char4  { top: -0.1em;  }
  .char5  { top: 0.03em;  }
  .char6  { top: -0.04em; }
  .char7  { top: 0.1em;   }
  .char8  { top: 0.06em;  }
  .char9  { top: -0.09em; }
  .char10 { top: 0.03em;  }
  .char11 { top: 0.06em;  }
  .char12 { top: 0.04em;  }
  .char13 { top: -0.08em; }
  .char14 { top: -0.1em;  }
  .char15 { top: 0.1em;   }
  .char16 { top: -0.06em; }
  .char17 { top: 0.1em;   }
  .char18 { top: 0.09em;  }

  &:hover .char1  { top: -0.01em;  }
  &:hover .char2  { top: 0.005em;  }
  &:hover .char3  { top: -0.007em; }
  &:hover .char4  { top: -0.01em;  }
  &:hover .char5  { top: 0.003em;  }
  &:hover .char6  { top: -0.004em; }
  &:hover .char7  { top: 0.01em;   }
  &:hover .char8  { top: 0.006em;  }
  &:hover .char9  { top: -0.009em; }
  &:hover .char10 { top: 0.003em;  }
  &:hover .char11 { top: 0.006em;  }
  &:hover .char12 { top: 0.004em;  }
  &:hover .char13 { top: -0.008em; }
  &:hover .char14 { top: -0.01em;  }
  &:hover .char15 { top: 0.01em;   }
  &:hover .char16 { top: -0.006em; }
  &:hover .char17 { top: 0.01em;   }
  &:hover .char18 { top: 0.009em;  }
}
